{% extends '::base.html.twig' %}

{% block body %}
    {{ dump(project) }}
    <h1>{% block title %}Project {{ project.name }}{% endblock %}</h1>
    {#<ul>#}
        {#{% for project in projects %}#}
            {#<li>#}
                {#{% if project.is_public is defined %}#}
                    {#<span>{{ project.name }} (public)</span>#}
                {#{% else %}#}
                    {#<a href="{{ path('project_view', {'id': project.id}) }}">{{ project.name }}</a>#}
                {#{% endif %}#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}
{% endblock %}


