{% extends '::base.html.twig' %}

{% block body %}
    <h1>{% block title %}Project {{ data.project.name }}{% endblock %}</h1>
    <a class="btn btn-danger" role="button" href="{{ path('time_entry_project',{'identifier': data.project.identifier}) }}">
        <i class="fa fa-clock-o"></i> Entry Time for project
    </a>
    <h2>Issues</h2>

    <div class="box">
        <table class="table table-striped table-hover table-nonfluid">
            <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Track Issue</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in data.issues %}
                <tr>
                    <td width="50px">{{ issue.id }}</td>
                    <td>{{ issue.subject }}</td>
                    <td>{{ issue.status.name }}</td>
                    <td>{{ issue.priority.name }}</td>
                    <td width="100px" align="center"><a href="{{ path('time_entry_issue',{'identifier': data.project.identifier , 'issueId': issue.id}) }}">
                            <i class="fa fa-clock-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if data.countPages > 1 %}
        <nav>
            <ul class="pagination">
                {% if app.request.query.get("page") == null %}
                    {% set page = 1 %}
                {% else %}
                    {% set page = app.request.query.get("page") %}
                {% endif %}
                {% for i in 1..data.countPages %}
                    <li class="{{ page == i ? 'active' }}">
                        <a href="{{ path('project_view',{'identifier': data.project.identifier, 'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}


