<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <ul class="nav nav-pills">
                    <li class="{{ app.request.attributes.get('_route') == 'homepage' ? 'active' }}">
                        <a href="{{  path('homepage') }}">Home</a>
                    </li>
                </ul>
                <section>
                    {% for flash_message in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block body %}{% endblock %}
                </section>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
